[Unit]
Description=Duet Web Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
RestartSec=10s
Restart=always
ExecStartPre=-/usr/bin/docker stop rpi-cam
ExecStartPre=-/usr/bin/docker rm rpi-cam
ExecStartPre=/usr/bin/docker pull droogmic/rpi-cam-web:latest
ExecStart=/usr/bin/docker run --name=rpi-cam -p=5000:80/tcp --volume=/opt/vc:/opt/vc --device=/dev/vchiq --device=/dev/vcsm droogmic/rpi-cam-web
ExecStop=/usr/bin/docker stop rpi-cam

[Install]
WantedBy=multi-user.target