[Unit]
Description=Duet Control Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
RestartSec=10s
Restart=always
ExecStartPre=-/usr/bin/docker stop duet_control_server
ExecStartPre=-/usr/bin/docker rm duet_control_server
ExecStartPre=/usr/bin/docker pull devopsintralox/duet_control_server:latest
ExecStart=/usr/bin/docker run --privileged --name duet_web_server -p 80:5000 -v duet_control_server:/opt/dsf/sd -v /mnt/data/duet_sockets:/var/run/dsf devopsintralox/duet_control_server

[Install]
WantedBy=multi-user.target